<h1>Current Conditions for {{currentWeather.name}}</h1>

<div ng-messages="citySaved">
    <p class="city-saved-alert bg-success text-success" ng-message="success">
        {{currentWeather.name}} has been saved to your list of cities.
    </p>
    <p class="city-saved-alert bg-warning text-warning" ng-message="duplicate">
        {{currentWeather.name}} has already been saved to your list of cities.
    </p>
</div>

<dl>
    <dt>Currently</dt>
    <img ng-src="http://openweathermap.org/img/w/{{currentWeather.weather[0].icon}}.png">
    <dd ng-if="currentWeather.weather[0].main='Thunderstorm'"><img class=img-responsive src="../images/storm-cat.png"></dd>
    <dd ng-if="currentWeather.weather[0].main='Drizzle'"><img class=img-responsive src="../images/drizzle-cat.png"></dd>
    <dd ng-if="currentWeather.weather[0].main='Rain'"><img class=img-responsive src="../images/rain-cat.png"></dd>
    <dd ng-if="currentWeather.weather[0].main='Snow'"><img class=img-responsive src="../images/snow-cat.png"></dd>
    <dd ng-if="currentWeather.weather[0].main='Atmosphere'"><img class=img-responsive src="../images/home-cat.jpg"></dd>
    <dd ng-if="currentWeather.weather[0].main='Clear'"><img class=img-responsive src="../images/clearskies-cat.png"></dd>
    <dd ng-if="currentWeather.weather[0].main='Clouds'"><img class=img-responsive src="../images/cloud-cat.png"></dd>
    <dd ng-if="currentWeather.weather[0].main='Sun'"><img class=img-responsive src="../images/sunny-cat.png"></dd>
    <dd ng-if="currentWeather.weather[0].main='Extreme'"><img class=img-responsive src="../images/storm-cat.png"></dd>
    <dd>{{currentWeather.weather[0].main}} &#124; {{currentWeather.weather[0].description}}</dd>
    <dt>Temperature:</dt>
    <dd>{{currentWeather.main.temp}} &deg;F</dd>
    <dt>Wind:</dt>
    <dd>{{currentWeather.wind.speed}} mph at {{currentWeather.wind.deg}} &deg;</dd>
    <dt>Clouds:</dt>
    <dd>{{currentWeather.clouds.all}}%</dd>
</dl>
<p><button class="btn btn-lg btn-primary" ng-click="saveCity(currentWeather)">Save City</button></p>
<p><a ng-href="#/forecast/{{cityID}}" class="btn btn-lg btn-primary">View 5-day Forecast</a></p>
